html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #161616;
  color: white;
  font-family: MonumentExtended;
}
@font-face {
  font-family: "MonumentExtended";
  src: local("MonumentExtended"),
    url(./fonts/MonumentExtendedRegular.otf) format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
